In [1]:
import pandas as pd
dataset=pd.read_excel("1 wilcoxon.xlsx")
print(dataset.head())

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

In [2]:
from scipy.stats import wilcoxon
stats,p=wilcoxon(dataset.TOTALCIN,dataset.TOTALCW2)
print(stats,p)

29.5 0.00259741456482452

In [5]:
from scipy.stats import friedmanchisquare
stats,p=friedmanchisquare(dataset.TOTALCIN,dataset.TOTALCW2,dataset.TOTALCW4)
print(stats,p)

27.927710843373504 8.62133745016363e-07

In [7]:
8.62133745016363e-01

0.862133745016363

In [8]:
8.62133745016363e-02

0.0862133745016363

In [9]:
8.62133745016363e-03

0.00862133745016363

In [22]:
dataset1=pd.read_excel("3 Mann Whitney.xlsx",sheet_name=1)
print(dataset1.head())

   Design1  Design2
0       11       12
1       17       10
2       16       15
3       14       19
4       15       11

In [5]:
import pandas as pd
dataset2=pd.read_excel("4 Kruskal Wallis.xlsx")
print(dataset2)

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

In [6]:
from scipy.stats import kruskal
stats,p=kruskal(dataset2.Design1,dataset2.Design2,dataset2.Design3)
print(stats,p)

2.7345323741007226 0.25480259087913626

In [8]:
dataset3=pd.read_excel("5 Chi square Test.xlsx",sheet_name=0)
dataset4=dataset3.dropna()
from scipy.stats import chi2_contingency
chitable=pd.crosstab(dataset4.Gender,dataset4.Smoking)
stats,p,dof,expeted=chi2_contingency(chitable)
print(stats,p)

3.1712567666931584 0.20481904779163013

In [9]:
dataset5=pd.read_excel("1. One Sample.xlsx",sheet_name=0)
print(dataset5.head())

     ids  Height
0  43783   72.35
1  20278   70.66
2  20389   70.68
3  24559   67.43
4  28980   68.45

In [10]:
from scipy.stats import ttest_1samp
stats,p=ttest_1samp(dataset5.Height,65)
print(stats,p)

11.498800238580099 1.087893570160242e-26

In [11]:
dataset6=pd.read_excel("2. paired Sample.xlsx",sheet_name=0)
print(dataset6.head())

     ids  English   Math
0  43783    88.24  60.02
1  20278    89.45  70.19
2  20389    96.73  71.20
3  22820    74.06  55.89
4  24559    82.61  65.52

In [12]:
from scipy.stats import ttest_rel
stats,p=ttest_rel(dataset6.English,dataset6.Math)
print(stats,p)

36.312568981719856 3.0710987192210606e-128

In [13]:
dataset7=pd.read_excel("3. Independent Sample.xlsx",sheet_name=3)
print(dataset7.head())

   Nonathelete  Athelete
0     0.004413  0.004462
1     0.004872  0.005146
2     0.008851  0.004023
3     0.006508  0.003941
4     0.006314  0.004764

In [14]:
from scipy.stats import ttest_ind
stats,p=ttest_ind(dataset7.Nonathelete,dataset7.Athelete)
print(stats,p)

13.368790432137319 7.116633157230895e-33